.satir {
    width: 650px;
    height: 45px;
    background-color:rgb(189, 233, 218);
    border-radius: 6px;
    margin-left: 25px;
}
.satir2 {
    width: 650px;
    height: 45px;
    border-radius: 6px;
    margin-left: 25px;   
}

.yazi {
    margin-top: 10px;
    margin-left: 10px;
    color:rgb(29, 28, 28);
}

.yuvarlak {
    border-radius: 1rem;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-color: rgb(230, 227, 227);
    display: flex;
    border-color: rgb(230, 227, 227);
    margin-left: 540px;
}

.yuvarlak2 {
    border-radius: 1rem;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    background-color: rgb(230, 227, 227);
    display: flex;
    border-color: rgb(230, 227, 227);
    margin-left: 10px;
}
.maindiv{
    margin-left: 400px;
}

.yanyana {
    display: flex;
    justify-content:center;
}
.cizgi {
    margin-left: 25px;
    width: 650px;
}